body {
	margin: 160px auto 0;
	width: 90%;
	background-color: #fff;
	background-image: url("../images/rps.png");
	background-repeat: repeat;
}


footer {
	text-align: center;
	padding: 20px 0 0;
}

footer a {
	font-family: 'Barrio', cursive;
}
.main-container {
	margin:0 auto;
	width: 70%;
}

#header h1 {
	font-family: 'Barrio', cursive;
	text-align: center;
	font-size: 55px;
}

#instructions {
	text-align: center;
}

#instructions h3:last-child {
	border-bottom: 4px solid #fff;
	padding-bottom: 20px;

}

.main-content {
	margin: 0 auto;
	background-color: #000;
	padding: 10px 0 20px;
	border-radius: 16px;
}
.main-content h2, .main-content h3 {
	font-family: 'Acme', sans-serif;
	margin-left: 25px;
	margin-right: 25px;
	
}

#humanscore, #computerscore {
	text-align: center;
}




